In [10]:
import pandas as pd

data = pd.DataFrame.from_csv('./opsahl-usairport/out.opsahl-usairport', sep = ' ', header = 0, index_col=None)
# % 28236 1574 1574
data.head()

   from  to  weight
0     1   2       1
1     1   3       7
2     4   5       3
3     6   7       5
4     6   8   14137

In [17]:
import pandas as pd

data = pd.DataFrame.from_csv('./dnc-temporalGraph/out.dnc-temporalGraph', sep = '\t', header = 0, index_col=None)
# % 28236 1574 1574
data = data.drop('weight', 1)
data.head()

   from    to   timestamp
0   419   465  1463507482
1   869   453  1462337903
2   943  1151  1463167636
3   943   217  1463167636
4   943   841  1463167636